<footer>
    <div class="container">
        <p>Copyleft 2011 - Tous les droits sur ce film reviennent à leurs auteurs. Made with love by <a href="http://www.kud.fr">@_kud</a>. Design by <a href="http://www.usine-creative.com/">@usine_creative</a>. <a href="https://github.com/kud/la-classe-americaine">Fork me</a> on Github.</p>
        <div class="love">
            <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/115630334999838343703"></div> 
            <div class="fb-like" data-href="https://www.facebook.com/pages/La-Classe-Am%C3%A9ricaine/244288192300144" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            <div class="tweet-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.laclasseamericaine-leflim.fr" data-text="« Un flim pour les amateurs de ouiche lorraine et autres animaux préhistoriques partouzeurs de droite. »" data-lang="fr">Tweeter</a><div>
        </div>
    </div>
</footer>