<header>
    <div class="container">
        {% include title.html %}
        <q>J'ai les bonbons qui collent.</q>
    	<nav>
    		<ul>
    			<li><a href="about.html"{% if page.url == '/about.html' %} class="active"{% endif%}>A propos de...</a></li>
    			<li><a href="film.html"{% if page.url == '/film.html' %} class="active"{% endif%}>Voir le flim</a></li>
    			<li><a href="download.html"{% if page.url == '/download.html' %} class="active"{% endif%}>Télécharger ce flim</a></li>
    			<li><a href="http://www.cyclim.se">Site surpuissant</a></li>
    			<li><a href="bonus.html"{% if page.url == '/bonus.html' %} class="active"{% endif%}>Bonus</a></li>
    		</ul>
    	</nav>	
    </div>
</header>