<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Attention ! Ce flim n'est pas un flim sur le cyclimse. Merci de votre compréhension." />
		<meta name="keywords" content="flim,classe,américaine,classe américaine,george,abitbol,peter,steven,dominique mézerette,michel hazanavicius,grand,détournement,derrick,superman" />
		<title>La classe américaine - Le flim // {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css" />
	</head>
	<body>
		{{ content }}
		{% include script.html %}
	</body>
</html>