<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Attention ! Ce flim n'est pas un flim sur le cyclimse. Merci de votre compréhension." />
		<meta name="keywords" content="flim,classe,américaine,americaine,george,abitbol,peter,steven,dominique,mézerette,michel,hazanavicius,grand,détournement,derrick,superman,parodie,ouiche,warner,bros,canal,plus,détournement,citizen,kane,orson,welles,jean-michel,kuess,guy,rondi,laurent,petitgirard,eve,vercel,robert,nador,michel,lecourt" />
		<title>La Classe Américaine - Le flim // {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css" />
		<link rel="icon" type="image/png" href="./img/favicon.png" />
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body id="{%if page.id %}{{ page.id }}{% else %}main{% endif %}">
		{{ content }}
		{% include script.html %}
	</body>
</html>